{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
<form action="/" method="post">
    <!-- Game Name Input -->
    <div class="mb-3">
        <label for="gameName">Game name:</label>
        <input type="text" id="gameName" name="gameName" placeholder="Enter Game Name" autocomplete="off" autofocus required>
    </div>

    <!-- Tagline Input -->
    <div class="mb-3">
        <label for="tagLine">Tag line:</label>
        <input type="text" id="tagLine" name="tagLine" placeholder="Enter Tagline">
    </div>

    <!-- Region Selection -->
    <div>
        <label>Choose Region:</label>
        <input type="radio" id="NA" name="server" value="na" checked>
        <label for="NA">NA</label>

        <input type="radio" id="EUW" name="server" value="euw">
        <label for="EUW">EUW</label>

        <input type="radio" id="EUN" name="server" value="eun">
        <label for="EUN">EUN</label>

        <input type="radio" id="OC" name="server" value="oc">
        <label for="OC">OC</label>

        <input type="radio" id="KR" name="server" value="kr">
        <label for="KR">KR</label>

        <input type="radio" id="JP" name="server" value="jp">
        <label for="JP">JP</label>

        <input type="radio" id="SG" name="server" value="sg">
        <label for="SG">SG</label>

        <!-- Add the rest of the regions here -->

    </div>

    <br>

    <!-- Search Button -->
    <button type="submit">Search</button>
</form>
{% endblock %}