.searchPageContainer {
  margin: auto;
  width: 50%;
  margin-top: 10%;
}

.searchForm {
  display: flex;
}

.summonerSearchbar {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 15px;
}

.searchForm .dropdown #dropdown-basic {
  background: transparent;
  border-radius: 5px;
  border: 2px solid gray;
  height: 45px;
  margin-right: 2px;
  width: max-content;
  padding: 0px 10px;
}

.searchForm .dropdown .dropdown-menu {
  border: 2px solid grey;
  padding: 20px 10px;
  border-radius: 5px;
}

.searchForm .dropdown .dropdown-menu .dropdown-item {
  display: block;
  text-decoration: none;
  color: black;
  padding: 5px 0px;
}