/* Taking inspiration from google's search*/

*{
  background-color: gra;
  box-sizing: border-box;
}
.searchPage{
  margin: auto;
  background-color: transparent;
  padding: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.searchBar-container {
  position: sticky;
  margin: auto;
  width:575px;
  border-radius:30px;
  border:3px solid #dcdcdc;
  display: flex;
  justify-content: center;
  /* background-color: red; */
}

.summonerSearchbar{
  position: sticky;
  height:45px;
  border:none;
  width:500px;
  font-size:16px;
  outline: none;
  padding-left: 20px;
  border-radius:30px;
}

input:focus {
  outline: none;
}

.dropdown-btn{
  background-color: rgb(84, 84, 102);
  margin-top: 10px;
}

.search-btn{
  border: none;
  font-size: medium;
  border-radius:30px;
}

.dropdown{
  border-radius:30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  z-index: 100;
}

.show-dropdown {
  display: flex; /* Show the dropdown content when the class is applied */
}


.serverIcon {
  height:20px;
  position:relative;
  top:5px;
}

.selectedServer {
  border:none;
  font-size:16px;
  outline: none;
  background-color: brown;
  margin: auto;
}




/* 

.dropdown-toggle {
  height:20px;
  position:relative;
  top:5px;
  left:10px;
}

.dropdown-menu {
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.dropdown-menu .dropdown-item {
  background-color: #0080FF;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; 
  text-decoration: none; 
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
  background-color: #e2e6ea;
  color: #495057;



  .searchForum{
  margin:0 auto;
  width:575px;
  border-radius:30px;
  border:1px solid #dcdcdc;
}
} 



.dropdown {
  height:20px;
  position:relative;
  left:10px;
}

.dropdown-toggle {
  border-radius: 30px;
  font-size: 16px;
  padding: 13.3px 20px;
  position: relative ;
  border: transparent;
  background-color: rgb(255, 145, 0);
  border:1px solid #dcdcdc;
  bottom: 1px;
  color: aqua;
}
*/